body {
	background-color: rgb(157, 164, 234);
}

a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

a:hover {
	background-color: #3e40c0;
	color: floralwhite;
	border-radius: 20px;
}

img {
	float: left;
	margin: 5px;
	border-radius: 15%;
	width: 50%;
}

td {
	border : black solid 5px;
	border-radius: 20px;
	width: 25%;
	padding: 5px;
	background-color: #c4aaf6;
}

p {
	font-size: 17px;
	text-align: justify;
}

ul {
	list-style-type: none;
	width: 95%;
	display: table;
	text-align: center;
}

li {
	display: inline-block;;
	float: none;
}

.core {
	float: left;
	padding: 10px;
	text-align: center;
}

.gallery {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.test-block {
	width: 200px;
	border: 2px solid rgba(71,236,30,1);
	background: rgba(71,236,30,0.7);
	text-align: center;
	color: #000000;
	padding: 20px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#OldPc {
	width: 35%;
}

#Poleasing {
	width: 50%;
}

#Gaming {
	float: right;
	width: 50%;
}

#Eniac {
	width: 50%;
}

#Ram {
	float: right;
	width: 50%;
}

#VR {
	width: 50%;
}

#Graphic {
	width: 50%;
}

#contact {
	float: left;
	margin: auto;
	width: 50%;
	padding: 10px;
}